<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {# Load the django_bootstrap5 library #}
    {% load django_bootstrap5 %}

    {# Load CSS and JavaScript separately#}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>

<!-- HEADER -->
{% include 'includes/header.html' %}

<main>
    <div class="container py-3 bg-light">
        {% block content %} {% endblock %}
    </div>
</main>

<!-- FOOTER -->
{% include 'includes/footer.html' %}

{% block scripts %} {% endblock %}

</body>

</html>